.vscode
.github
.husky
.circleci
.gitignore
.prettierrc
.env
.editorconfig
webpack.config.ts
src
node_modules
eslint.config.mjs
nodemon.json
parrot.functions.js
tsconfig.build.json
tsconfig.json
webpack.config.js
cache/*
logs/*
*.tgz